.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 8rem;
  background-color: #161616;
  height: 30rem;

  &__notify {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    > * {
      padding: 1rem 0;
    }

    > i {
      font-size: 6rem;
    }

    > div {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.i- {
  &success {
    color: #4caf50;
  }
  &failure {
    color: #ff334a;
  }
}

input {
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid;
  border-color: #333;
  background-color: #333;
  color: #ccc;
  transition: all 0.5s;
  &:focus {
    border-color: #ccc;
    background-color: #fff;
    color: #333;
  }
}
