<div class="message">
  <h2>THÔNG BÁO</h2>
  <div class="message__notify">
    <i *ngIf="type==='success'" class="fa fa-check-circle i-success"></i>
    <i *ngIf="type==='failure'" class="fa fa-times-circle i-failure"></i>
    <div>{{message}}</div>
  </div>

</div>
