<div class="home">
  <div class="slider">
    <carousel>
      <slide *ngFor="let banner of banners" class="animated">
        <img class="slider__img" [src]="banner.banner_url">
      </slide>
    </carousel>
  </div>
  <div class="movie-section">
    <div class="movie__header">Danh sách phim đang chiếu</div>
    <div class="movie__list">
      <div id="carousel-premiering" class="movie__list__carousel">
        <img *ngFor="let movie of movies.premiering" [routerLink]="['/schedule', movie.film_id]" class="movie__list__carousel__item" [src]="movie.img">
      </div>
    </div>
    <a (click)="scrollLeft('carousel-premiering')" class="control control--left">
      <span aria-hidden="true" class="control__arrow icon-prev carousel-control-prev-icon"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a (click)="scrollRight('carousel-premiering')" class="control control--right">
      <span aria-hidden="true" class="control__arrow icon-next carousel-control-next-icon"></span>
      <span class="sr-only">Previous</span>
    </a>

  </div>
  <div class="movie-section">
    <div class="movie__header">Danh sách phim sắp chiếu</div>
    <div class="movie__list">
      <div id="carousel-upcoming" class="movie__list__carousel">
        <img *ngFor="let movie of movies.upcoming" [routerLink]="['/schedule', movie.film_id]" class="movie__list__carousel__item" [src]="movie.img">
      </div>
    </div>
    <a (click)="scrollLeft('carousel-upcoming')" class="control control--left">
      <span aria-hidden="true" class="control__arrow icon-prev carousel-control-prev-icon"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a (click)="scrollRight('carousel-upcoming')" class="control control--right">
      <span aria-hidden="true" class="control__arrow icon-next carousel-control-next-icon"></span>
      <span class="sr-only">Previous</span>
    </a>

  </div>
</div>
