.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider {
  &__img {
    display: block;
    width: 100%;
    max-height: 55rem;
    object-fit: cover;
  }
  &::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: "";
  }
}

.movie-section {
  padding: 5rem 5rem 0 5rem;
  position: relative;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%), linear-gradient(0, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
}

.movie {
  &__header {
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__list {
    &__carousel {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      flex-wrap: nowrap;
      scrollbar-width: none;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }

      &__item {
        margin: 2rem 1rem 2rem 1rem;
        flex: 0 0 25rem;
        scroll-snap-align: start;
        scroll-snap-points-x: repeat(60rem);
        transition: 0.2s all ease-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.control {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }

  &__arrow {
    transition: all 0.1s;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &:active {
      transform: scale(1.1);
    }
  }
}
