h3 {
  font-size: 2rem;
  font-weight: bold;
}
.detail {
  color: black;
  background-color: white;
  min-height: 54vh;
  padding: 2rem;
  margin-top: 2.5rem;
  transform: scale(0.97);
  // display:flex;
  // justify-content: center;
  // align-items: center;
}

.movie {
  display: flex;
  justify-content: center;
  &__poster {
    flex-grow: 1;
    &__img {
      width: 100%;
    }
  }
  &__intro {
    flex-grow: 1;
    padding: 3rem;
    flex-basis: 25rem;

    &__title {
      &__content {
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: grey;
      }
    }
  }

  &__intro > *:not(:first-child) {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    > *:first-child {
      font-weight: bold;
      flex-basis: 15rem;
    }
  }
}

.code {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__ticket{
    font-weight: bold;
    font-size: 2rem;
  }
}


.message {
  &__notify {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    > * {
      padding: 1rem 0;
    }

    > i {
      font-size: 6rem;
    }

    > div {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.i- {
  &success {
    color: #4caf50;
  }
  &failure {
    color: #ff334a;
  }
  &warn {
    color: #f4b810;
  }

}

.perfect-center{
    display:flex;
  justify-content: center;
  align-items: center;
}
