<div *ngIf="isExpired===false; else expired" class="detail">
  <div class="movie">
    <div class="movie__poster">
      <img class="movie__poster__img" [src]="bookingHistoryDetail.poster_img">
    </div>
    <div class="movie__intro">
      <div class="movie__intro__title">
        <div class="movie__intro__title__header">
          <h3>{{bookingHistoryDetail.movie_title}}</h3>
        </div>
        <div class="movie__intro__title__content">
          <p>
            Chi tiết hóa đơn thanh toán
          </p>
        </div>
      </div>
      <div>
        <div>
          Ngày mua:
        </div>
        <div>
          {{bookingHistoryDetail.purchase_date | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div>
        <div>
          Thời gian mua:
        </div>
        <div>
          {{bookingHistoryDetail.purchase_date | date: 'h:mm aaa'}}
        </div>
      </div>
      <div>
        <div>
          Ngày chiếu:
        </div>
        <div>
          {{bookingHistoryDetail.premiering_date | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div>
        <div>
          Suất chiếu:
        </div>
        <div>
          {{bookingHistoryDetail.premiering_time}}
        </div>
      </div>
      <div>
        <div>
          Chỗ ngồi:
        </div>
        <div>
          {{bookingHistoryDetail.seats}}
        </div>
      </div>
      <div>
        <div>
          Giá:
        </div>
        <div>
          {{bookingHistoryDetail.price | currency: 'VND'}}
        </div>
      </div>
    </div>

    <div class="code">
      <div>
        Mã đổi vé:
      </div>
      <div class="code__ticket">
        {{bookingHistoryDetail.ticket_code}}
      </div>
    </div>
  </div>

</div>

<ng-template #expired>
  <div class="detail perfect-center">
    <div class="movie">
      <div class="message__notify">
        <i class="fa fa-exclamation-circle i-warn"></i>
        <div>{{warnMessage}}</div>
      </div>
    </div>
  </div>
</ng-template>
