.main-container{
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem 3rem;
  height: 90vh;
}

.topup{
  margin: 0 auto;
  padding: 5rem;
  background: #fffdfd1a;
  height: 75vh;


  &__container{
    margin: 0 auto;
    padding: 10rem 25rem;
    height: 55vh;
    background-color: white;
    color: black;
    transform: scale(0.97);
  }

  &__success {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    > * {
      padding: 1rem 0;
    }

    > i {
      font-size: 6rem;
      color: #4caf50;
    }

    > div {
      font-size: 2rem;
    }
  }

}

.account{
  &__balance{
    display: flex;
    padding: 1rem;

  }
  &__topup-amount{
    display: flex;
    padding: 1rem;
  }
}

.payment-methods{
  display: flex;
  padding: 1rem;
  &__value{
    > select {
      width: 20rem;
      height: 100%;
    }
  }
}

.balance, .topup-amount, .payment-methods{
  &__title{
    font-weight: bold;
  }

  &__value{
    margin-left: auto;

  }
}

.topup-btn{
  margin: 1rem;

  padding: 1rem 10rem;
  text-align: center;
  color: white;
  background-color: #4caf50;
  transition: .5s all;
  cursor: pointer;
  &:active{
    // transform: scale(0.995);
    margin: 2rem;
  }
}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
}

hr {
  border-top: 0.7rem solid white;
  width: 20rem;
}
