<div class="main-container">

  <div class="topup">
    <h2>Nạp tiền vào tài khoản</h2>
    <hr>

    <div  class="topup__container">
      <div class="topup__main">

        <div *ngIf="!topupSuccess">
        <div class="account">
          <div class="account__balance">
            <div class="balance__title">
              Số dư trong tài khoản:
            </div>
            <div class="balance__value">
              {{balance | currency:'VND'}}
            </div>
          </div>
          <div class="account__topup-amount">
            <div class="topup-amount__title">
              Số tiền nạp:
            </div>
            <input class="topup-amount__value" [(ngModel)]="topupAmount"
                   #amountValue="ngModel" type="number" name="amountValue">
          </div>
        </div>
        <div class="payment-methods">
          <div class="payment-methods__title">
            Chọn phương thức nạp tiền
          </div>
          <div class="payment-methods__value">
            <select>
              <option value="1">Nạp tiền trực tiếp</option>
              <option value="2">Nạp tiền qua thẻ Ngân hàng</option>
              <option value="3">Nạp tiền qua VISA/Mastercard</option>
            </select>
          </div>

        </div>
        <div (click)="topup()" class="topup-btn">
          Nạp tiền
        </div>
      </div>

      <div class="topup__success" *ngIf="topupSuccess">

        <i class="fa fa-check-circle"></i>
        <div>Nạp tiền thành công!</div>
        <div>Số dư hiện tại trong tài khoản của bạn là: <b>{{balance | currency: 'VND'}}</b></div>

      </div>
    </div>



  </div>


</div>
