<div class="login">
  <img src="../../../assets/img/logo.png" alt="imovik-icon" height="auto" width="300">
  <div *ngIf="route==='login'">
    <h2>ĐĂNG NHẬP</h2>
    <div *ngIf="!loginSuccess">
      <div class="message">{{loginMessage}}</div>
      <form class="login__form" autocomplete="off">
        <input [(ngModel)]="loginForm.email" type="text" placeholder="Email" name="email"
               required autocomplete="off">
        <input [(ngModel)]="loginForm.password" type="password" placeholder="Mật khẩu"
               name="password" autocomplete="off" required>
        <div class="login__submit">
          <button (click)="login()" class="login__submit__btn">Đăng nhập</button>
        </div>
        <div (click)="onClickRegister()" class="register">
          <a class="register__btn">Chưa có tài khoản?</a>
        </div>

      </form>
    </div>
  </div>
  <div class="login__success" *ngIf="loginSuccess">

    <i class="fa fa-check-circle"></i>
    <div>Đăng nhập thành công!</div>

  </div>

  <div *ngIf="route==='register'">
    <h2>ĐĂNG KÝ</h2>
    <div>
      <div class="message">{{registerMessage}}</div>
      <form class="login__form" autocomplete="off">
        <input [(ngModel)]="registerForm.display_name" type="text"
               placeholder="Tên hiển thị" name="display_name" required autocomplete="off">
        <input [(ngModel)]="registerForm.email" type="text" placeholder="Email"
               name="email" required autocomplete="off">
        <input [(ngModel)]="registerForm.password" type="password" placeholder="Mật khẩu"
               name="password" autocomplete="off" required>
        <input [(ngModel)]="registerForm.verify_password" type="password"
               placeholder="Xác nhận mật khẩu" name="verify_password" autocomplete="off"
               required>
        <div class="login__submit">
          <button (click)="register()" class="login__submit__btn">Tạo tài khoản</button>
        </div>
        <div (click)="onClickBack()" class="back">
          <a class="back__btn"><i class="fa fa-caret-left"></i>Quay lại</a>
        </div>
      </form>
    </div>
  </div>



</div>
