.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 8rem;
  background-color: #161616;
  min-height: 45rem;
  > img {
    padding-bottom: 1rem;
  }
  &__form {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    width: 35rem;
  }
  &__submit {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    &__btn {
      padding: 1.5rem;
      margin: 0.5rem;
      color: white;
      border: none;
      outline: none;
      background: #4caf50;
      cursor: pointer;
      transition: all 0.2s;
      &:active {
        color: #4caf50;
        background: white;
      }
    }
  }

  &__success {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    > * {
      padding: 1rem 0;
    }

    > i {
      font-size: 6rem;
      color: #4caf50;
    }

    > div {
      font-size: 2rem;
    }
  }
}

.register {
  display: flex;
  justify-content: center;
  > a {
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
  }
}

.back {
  display: flex;
  justify-content: center;
  > a {
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    > i {
      padding: 0 1rem;
    }
  }
}

.message{
  text-align: center;
  background-color: #54b758;
  border-left: 6px solid #347b37;
}


h2 {
  text-align: center;
  padding-bottom: 1rem;
}

input {
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid;
  border-color: #333;
  background-color: #333;
  color: #ccc;
  transition: all 0.5s;
  &:focus {
    border-color: #ccc;
    background-color: #fff;
    color: #333;
  }
}
