<nav class="nav">
  <a routerLink="/home" routerLinkActive="active">
    <img src="/assets/img/logo.png" alt="home" height="auto" width="120">
  </a>
  <a routerLink="/home" routerLinkActive="active">Trang chủ</a>
  <a routerLink="/home" routerLinkActive="active">Khuyến mãi</a>
  <div *ngIf="!isLoggedIn" (click)="openModal()">Đăng nhập</div>
  <div *ngIf="isLoggedIn" (mouseover)="selected=true" (mouseout)="selected=false"
       class="nav__account">
    <div>{{balance | currency: 'VND'}}</div>
    <div>{{accountInfo.display_name}}</div>
    <div class="account__dropdown-menu">
      <img src="/assets/img/avatar.png" alt="home" height="35" width="35">
      <i class="fa fa-caret-down"></i>
    </div>
    <div [ngClass]="{'display': selected}" class="account__dropdown-content ">
      <div routerLink="/account/top-up" routerLinkActive="active">Nạp tiền</div>
      <div routerLink="/account/booking-history" routerLinkActive="active">Lịch sử đặt vé
      </div>
      <div>Tài khoản</div>
      <div (click)="logout()">Đăng xuất</div>
    </div>
  </div>
</nav>

<ng-template #login>
  <app-login></app-login>
</ng-template>

<div class="outlet">
  <router-outlet></router-outlet>
  <footer class="footer">
    <div class="footer__about">
      <h3>Giới thiệu</h3>
      <div>Về chúng tôi</div>
      <div>Liên hệ</div>
      <div>Tuyển dụng</div>
    </div>
    <div class="footer__policy">
      <h3>Quy định và điều khoản</h3>
      <div>Quy định thành viên</div>
      <div>Điều khoản</div>
      <div>Quy định và hình thức thanh toán</div>
    </div>
    <div class="footer__rights">
      <div>© 2019 IMOVIK, by Khanh Hoang</div>
    </div>
  </footer>
</div>
