.nav {
  position: fixed;
  z-index: 99;
  width: 100vw;
  display: flex;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  > a {
    padding: 2rem 1rem;
    font-size: 2rem;
    color: white;
  }
  > div {
    padding: 2rem 4rem;
    font-size: 2rem;
    color: white;
    margin-left: auto;
    cursor: pointer;
  }
  &__account {
    display: flex;
    > * {
      padding: 0 1rem;
    }
  }
}

.account {
  &__dropdown-menu {
    position: relative;
    > i {
      padding: 0 1rem;
    }
  }
  &__dropdown-content {
    position: absolute;
    top: 90%;
    right: 5rem;
    width: 15rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:none;

    > div {
      text-align: left;
      padding: 1rem;
      font-size: 1.6rem;
      color: #161616;
    }

  }
}

.display{
  display:block;
}

.outlet {
  width: 100%;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.2rem;
  padding: 7rem 10rem 3rem 10rem;
  background-color: rgb(0, 0, 0);
  > * {
    padding: 0 5rem;
  }
  &__about {
    display: flex;
    flex-direction: column;
    order: 2;
    padding: 0 5rem;

    > *:not(:first-child) {
      color: grey;

      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
  &__policy {
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 0 5rem;
    > *:not(:first-child) {
      color: grey;

      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }

  &__rights {
    color: gray;
    margin-right: auto;
    order: 3;
    display: flex;
    > * {
      align-self: flex-end;
    }
  }
}
