.main-container{
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem 3rem;
  height: 95vh;
}

.booking-history{
  margin: 0 auto;
  padding: 5rem;
  background: #fffdfd1a;
  min-height: 75vh;

}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
}

hr {
  border-top: 0.7rem solid white;
  width: 20rem;
}
