.history{
  padding: 2rem 0;
  max-height: 55vh;
  overflow: scroll;
  &__list {
    display:flex;
    background-color: white;
    padding: 2rem 10rem;
    color: black;
    transform: scale(0.97);
    transition: .2s all;

    &:hover{
      transform: scale(1.0);
      cursor: pointer;
    }

    &:active{
      transform: scale(0.97);
    }
  }

}

.list{
  &__item{

  }

  &__price{
    display:flex;
    flex-grow: 2;
    justify-content: center;
    > div {
      align-self: center;
    }
  }

  &__detail-btn{
    margin-left: auto;
    display:flex;
    > div {
      align-self: center;
    }
  }
}
