<div class="history">
  <div *ngFor="let list of bookingHistoryList" [routerLink]="['detail', list.id]"
       routerLinkActive="active" class="history__list">
    <div class="list__item">
      <div class="item__header">
        <b>Phim:</b> {{list.title}}
      </div>
      <div class="item__description">
        <div>
          <b>Ngày mua:</b> {{list.purchase_date | date: 'dd/MM/yyyy'}}
        </div>
        <div>
          <b>Thời gian mua:</b> {{list.purchase_date | date: 'h:mm aaa'}}
        </div>
      </div>
    </div>
    <div class="list__price">
      <div class="div">
        <b>Giá tiền:</b> {{list.price | currency:'VND'}}
      </div>
    </div>
    <div class="list__detail-btn">
      <div>
        Click để xem chi tiết
        <i class="fa fa-caret-right"></i>
      </div>
    </div>
  </div>
</div>
