.booking {
  &__title {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  &__seat-info {
    display: flex;
    justify-content: center;
    padding: 1rem;
    &__details {
      padding: 0 1rem;
      &::before {
        content: "";
        margin: 0 1rem;
        padding: 0 2rem;
      }
      &--available {
        &::before {
          background: #808080;
        }
      }
      &--not-available {
        &::before {
          background: #ffa500;
        }
      }
      &--selected {
        &::before {
          background: green;
        }
      }
    }
  }

  &__payment {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    > *{
      display: flex;
      justify-content: center;
    }
    &__info {
      padding: 2rem;
      background: #fffdfd1a;
      &__header {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
      }
      &__content {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        ::before{
          content: ":";
        }
      }
    }
    &__button{
      padding: 1rem 2rem;
      margin: 1rem 0;
      background-color: #4caf50;
      cursor: pointer;
    }
  }
}

.payment-section{
  display:flex;
  justify-content: center;
}

table {
  width: 100%;
}
tr {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  &:first-child {
    width: 70rem;
    background: grey;
    margin: 0 15rem 5rem 25rem;
    text-transform: uppercase;
  }
}

td {
  width: 5rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
  background: grey;
  &:hover {
    background: green;
  }
  &:first-child{
    pointer-events: none;
    cursor: default;
  }
}

.seat {
  background: none;
}
.selected {
  background: green;
}

.not-available {
  background: orange;
  pointer-events: none;
  cursor: default;
}
