<div class="booking__title">
  <h2>Đặt vé</h2>
</div>

<div class="booking__seat-info">
  <div class="booking__seat-info__details booking__seat-info__details--available">Ghế
    trống</div>
  <div class="booking__seat-info__details booking__seat-info__details--not-available">Ghế
    đã bán</div>
  <div class="booking__seat-info__details booking__seat-info__details--selected">Ghế đang
    chọn</div>
</div>

<table>
  <tr>Màn hình</tr>
  <tr *ngFor="let seat of seats">
    <td class="seat">{{seat.row}}</td>
    <td *ngFor="let col of seat.col" (click)="col['selected']=!col['selected']"
        (click)="countSelectedSeat()"
        [ngClass]="{'selected': col['selected'], 'not-available': !col.available}">
      {{col.seat_id}}
    </td>
  </tr>
</table>

<div class="payment-section">
  <div class="booking__payment">
    <div class="booking__payment__info">
      <div class="booking__payment__info__header">
        <div class="">
          Giá vé
        </div>
        <div class="">
          Số lượng
        </div>
        <div class="">
          Tổng
        </div>
      </div>
      <div class="booking__payment__info__content">
        <div class="">
          {{ticketPrice | currency:'VND'}}
        </div>
        <div class="">
          {{totalSelectedSeat}}
        </div>
        <div class="">
          {{totalPrice | currency:'VND'}}
        </div>
      </div>
    </div>
    <div (click)="pay()" class="booking__payment__button">
      Thanh toán
    </div>
  </div>
</div>

<ng-template #message>
  <app-message [message]="serverMessage.message" [type]="serverMessage.type" ></app-message>
</ng-template>
