.schedule-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem 3rem;
}
.movie {
  display: flex;
  justify-content: center;
  &__poster {
    flex-basis: 45rem;
    &__img {
      width: 100%;
    }
  }
  &__intro {
    flex-grow: 1;
    flex-basis: 80rem;
    padding: 3rem;
    &__title {
      &__content {
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: grey;
      }
    }
    &__classify {
    }
    &__director {
    }
    &__cast {
    }
    &__genre {
    }
    &__release {
    }
    &__running {
    }
    &__language {
    }
  }

  &__intro > *:not(:first-child) {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    > *:first-child {
      flex-basis: 10rem;
    }
  }
}

.button-section {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  &--buy {
    width: 50rem;
    background-color: #4caf50;
    color: white;
    padding: 1.5rem 3rem;
    margin: 0.5rem;
    font-size: 2rem;
  }
}

.schedule-section {
}


