<div class="schedule-container">
  <div class="movie">
    <div class="movie__poster">
      <img class="movie__poster__img"
        [src]="intro.poster_img">
    </div>
    <div class="movie__intro">
      <div class="movie__intro__title">
        <div class="movie__intro__title__header">
          <h3>{{intro.title}}</h3>
        </div>
        <div class="movie__intro__title__content">
          <p>
            {{intro.description}}
          </p>
        </div>
      </div>
      <div class="movie__intro__classify">
        <div class="movie__intro__classify__header">
          Phân loại
        </div>
        <div class="movie__intro__classify__details">
          {{intro.classify}}
        </div>
      </div>
      <div class="movie__intro__director">
        <div class="movie__intro__director__header">
          Đạo diễn
        </div>
        <div class="movie__intro__director__details">
          {{intro.director}}
        </div>
      </div>
      <div class="movie__intro__cast">
        <div class="movie__intro__cast__header">
          Diễn viên
        </div>
        <!-- <div *ngFor="let cast of intro.cast " class="movie__intro__cast__details">
          {{cast.artist_name}}
        </div> -->
      </div>
      <div class="movie__intro__genre">
        <div class="movie__intro__genre__header">
          Thể loại
        </div>
        <div class="movie__intro__genre__details">
          {{intro.genre}}
        </div>
      </div>
      <div class="movie__intro__release">
        <div class="movie__intro__release__header">
          Khởi chiếu
        </div>
        <div class="movie__intro__release__details">
          {{intro.release}}
        </div>
      </div>
      <div class="movie__intro__running">
        <div class="movie__intro__running__header">
          Thời lượng
        </div>
        <div class="movie__intro__running__details">
          {{intro.running}}
        </div>
      </div>
      <div class="movie__intro__language">
        <div class="movie__intro__language__header">
          Ngôn ngữ
        </div>
        <div class="movie__intro__language__details">
          {{intro.language}}
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="button-section">
    <button class="button button--buy">Xem trailer</button>
    <button class="button button--buy">Mua vé ngay</button>
  </div> -->
  <div class="schedule-section">
      <router-outlet></router-outlet>
  </div>
</div>
