/* You can add global styles to this file, and also import other style files */


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  background-image: linear-gradient(to bottom, rgba(20, 20, 20, 1) 40%, rgba(20, 20, 20, 0) 100%),
    url(https://i.imgur.com/DSYn19Q.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
