<div class="schedule__title">
  <h2>Lịch chiếu</h2>
</div>
<div class="schedule__cinema">
  <div class="schedule__cinema__name" *ngFor="let cinema of cinemas"
       (click)="selectCinema(cinema.cinema_group)"
       [ngClass]="(cinema.cinema_group == selectedSchedule.cinema_group) ? 'selected' : ''">
    {{cinema.name}}
  </div>
</div>
<div class="schedule__date">
  <div *ngFor="let date of dates " class="schedule__date__info">
    <div (click)="selectDate(date)"
         [ngClass]="(date == selectedSchedule.date) ? 'selected' : ''"
         class="shedule__date__day"> {{date}} </div>
    <!-- <div class="shedule__date__datemonth"> {{date}} </div> -->
  </div>
</div>
<div class="schedule__showtimes">
  <div *ngFor="let info of showtimes" class="schedule__showtimes__container">
    <div class="schedule__showtimes__cinema">
      <div class="schedule__showtimes__cinema__fullname">{{info.theater_name}}</div>
    </div>
    <!-- <div class="schedule__showtimes__type">
        <div class="schedule__showtimes__type__format">{{info.format}}</div>
        <div class="schedule__showtimes__type__classify">{{info.classify}}</div>
      </div> -->
    <div class="schedule__showtimes__time">
      <div *ngFor="let showtime of info.time_details" [routerLink]="['../booking', showtime.time_id]"
           routerLinkActive="active" class="schedule__showtimes__time__item">
        {{showtime.time}}</div>
    </div>
  </div>
</div>
