.schedule {
  &__title {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  &__cinema {
    display: flex;
    justify-content: center;
    padding: 1rem;
    > * {
      padding: 1rem;
      cursor: pointer;
    }

    &__name{
      width: 30rem;
      text-align: center;
    }
  }
  &__date {
    display: flex;
    justify-content: center;
    &__info {
      flex-grow: 1;
      cursor: pointer;
      user-select: none;
      > * {
        text-align: center;
        padding: 1rem;
      }
    }
  }
  &__showtimes {
    &__container {
      display: flex;
      justify-content: center;
      padding: 2rem;
    }
    &__cinema {
      // flex-basis: 50rem;
      height: 6.8rem;
      padding: 2rem;
      margin: 1rem;
      text-align: center;
      background: #1c2936;
      box-shadow: 3px 5px 21px 0px rgba(5, 12, 17, 1);

      &__fullname {
        width: 30rem;
      }
    }
    &__type {
      flex-basis: 20rem;
      text-align: center;
      margin: 1rem;
      &__format {
        background-color: #4caf50;
        border-style: solid;
        border-color: white;
        border-width: 2px;
      }
      &__classify {
        border-style: solid;
        border-color: #f8090f;
        border-width: 2px;
        color: #f8090f;
        margin-top: 1rem;
      }
    }
    &__time {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;

      &__item {
        width: 10rem;
        height: 3.5rem;
        margin: 1rem;
        border-style: dashed;
        border-color: white;
        border-width: 2px;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
        user-select: none;
        transition: 0.2s all;
        &:hover {
          border-style: solid;
          background: #4caf50;
          transform: scale(1.1);
        }
        &:active {
          background: #4caf50;
          transform: scale(1.05);
        }
      }
    }
  }
}

.selected {
  background: #4caf50;
}
